%footer.container
  Source:
  = link_to "github.com/carsoncole/about", "https://github.com/carsoncole/about.git", target: '_blank'
  - if signed_in? && !Setting.first.nil?
    \|
    = link_to "Admin", admin_experiences_path unless Setting.first.nil?

  .copyright
    Copyright
    %i.bi.bi-c-circle
    = Date.today.year
    Carson R Cole

