%footer.container
  %p
    Source:
    = link_to "github.com/carsoncole/about", "https://github.com/carsoncole/about.git"

  = link_to "Settings", edit_setting_path(Setting.first) unless Setting.first.nil?
