%div.flex.flex-wrap.gap-x-2
  - @tags.each do |tag|
    %div(class="text-xs border bg-white dark:border-slate-600 dark:bg-slate-800 shadow-sm text-bold px-2 mb-1 rounded align-middle py-0.5")
      = tag.name

