%h1.text-indigo-200.font-bold.mb-6.font-2xl.uppercase.border-b.border-indigo-900.pb-3
  - if signed_in?
    = link_to "Summary", edit_admin_setting_path(Setting.first)
  - else
    Summary
%p.mb-7= Setting.first.summary
