
%div.m-20
  %div.flex.justify-center
    %div
      Source code available at

  %div.flex.justify-center
    %div
      = link_to "github.com/carsoncole/about", "https://github.com/carsoncole/about.git", target: '_blank'
