
%div.m-20.lg:mr-64.lg:ml-64
  %div.flex.text-center.mb-5
    %p Site produced with Ruby on Rails, Tailwind CSS, Docker and Digital Hosting for hosting, and Kamal for automated deployment.
  %div.flex.justify-center
    %p
      Source code available at
      = succeed(".") do
        = link_to "github.com", "https://github.com/carsoncole/about.git", target: '_blank'


