%div(class='flex')
  %div(class='w-2/3 bg-slate-100 p-8')
    %h1(class='mb-8 text-3xl font-bold tracking-tight') Upgrading Ruby on Rails
    %p(class='font-medium text-sm max-w-prose text-slate-800 antialiased mb-6')
      Ruby on Rails has never slowed in its march towards continual enhancement, keeping it features leading edge, and embracing the newest approaches in development and design. Today's newest applications are debuting with Rails 7, but the majority of currents applications likely sit between versions 4 and 5. As time marches on, these applications get encumbered with development inefficiencies as new features continue to be added, yet requiring developers to keep old code in place.

    %p(class='font-medium text-sm max-w-prose text-slate-800 antialiased mb-6')
      In projects I've undertaken towards upgrading legacy code to newer Rails' versions, I'll start with reviewing gemsets, determining which are no longer needed, could benefit from an upgrade, or should be replaced. Next, I'll review what should be the best approach towards handling an upgrade, whether it be a complete rewrite, or a slow piece-by-peice upgrade, considering the risks of each, and how it could affect the business.
    %p(class='font-medium text-sm max-w-prose text-slate-800 antialiased mb-6')
      Upgrading a Rails application can position it to be more responsive to client demands, reduced customer support queries, reduced downtime, and/or more effective for developers to work with leading to reduced costs.

%div(class='flex justify-end -mt-10 mb-8')
  %div(class='w-2/3 bg-lime-200 p-8 text-whit')
    %h1(class='mb-8 text-3xl font-bold tracking-tight') Killer Customization with White Labeling


    %p(class='font-medium text-sm max-w-prose text-slate-800 antialiased mb-6')
      For SaaS applications, white labeling, which is the hosting of an application for a client under their own domain, is the best form of tailoring your service to a client's brand. I've seen first hand how white labeling was a the key advantage for a business as customers could even remarket the appliation as their own, further driving business. There are numerous ways to achieve this for a SaaS product that is being used for just a few clients to thousands of clients, and all under the mantle of your single applications.

%div(class='flex justify-center rotate-2 mb-12')
  %div(class='w-4/5 bg-slate-600 p-8 text-white')
    %h1(class='mb-8 text-3xl font-bold tracking-tight ') APIs for Greater Access

    %p(class='font-medium text-sm max-w-prose antialiased mb-6')
      For SaaS applications, white labeling, which is the hosting of an application for a client under their own domain, is the best form of tailoring your service to a client's brand. I've seen first hand how white labeling was a the key advantage for a business as customers could even remarket the appliation as their own, further driving business. There are numerous ways to achieve this for a SaaS product that is being used for just a few clients to thousands of clients, and all under the mantle of your single applications.

%div(class='flex mb-12')
  %div(class='w-4/5 bg-slate-100 p-8')
    %h1(class='mb-8 text-3xl font-bold tracking-tight ') Billing thats Flexible

    %p(class='font-medium text-sm max-w-prose antialiased mb-6')
      For SaaS applications, white labeling, which is the hosting of an application for a client under their own domain, is the best form of tailoring your service to a client's brand. I've seen first hand how white labeling was a the key advantage for a business as customers could even remarket the appliation as their own, further driving business. There are numerous ways to achieve this for a SaaS product that is being used for just a few clients to thousands of clients, and all under the mantle of your single applications.


%div(class='flex mb-8')
  %div(class='w-4/5 bg-slate-100 p-8')
    %h1(class='mb-8 text-3xl font-bold tracking-tight ') Making Microservices

    %p(class='font-medium text-sm max-w-prose antialiased mb-6')
      For SaaS applications, white labeling, which is the hosting of an application for a client under their own domain, is the best form of tailoring your service to a client's brand. I've seen first hand how white labeling was a the key advantage for a business as customers could even remarket the appliation as their own, further driving business. There are numerous ways to achieve this for a SaaS product that is being used for just a few clients to thousands of clients, and all under the mantle of your single applications.

%div(class='flex mb-8')
  %div(class='w-4/5 bg-slate-100 p-8')
    %h1(class='mb-8 text-3xl font-bold tracking-tight ') Leveraging Heroku

    %p(class='font-medium text-sm max-w-prose antialiased mb-6')
      For SaaS applications, white labeling, which is the hosting of an application for a client under their own domain, is the best form of tailoring your service to a client's brand. I've seen first hand how white labeling was a the key advantage for a business as customers could even remarket the appliation as their own, further driving business. There are numerous ways to achieve this for a SaaS product that is being used for just a few clients to thousands of clients, and all under the mantle of your single applications.
