%h1.text-slate-800.dark:text-slate-100.font-bold.tracking-tight.mb-20.text-4xl.md:text-5xl(class='md:w-4/5')
  %div.leading-tight.md:leading-tight= Setting.first.projects_headline
%div.grid.grid-cols-3
  %div.col-span-3.md:col-start-1.md:col-span-2.mb-12
    = render 'projects'
