%div.text-xl.font-bold
  %h2
    %span
      = succeed(", ") do
        = experience.title
    %span
      - if experience.url.present?
        %span
          = link_to experience.name, experience.url
      - else
        = experience.name


