%h1.text-slate-800.dark:text-slate-100.font-bold.tracking-tight.mb-10.text-4xl.md:text-5xl(class='md:w-4/5')
  %div.leading-tight.md:leading-tight= Setting.first.experiences_headline

- if Setting.first.experiences_subheading.present?
  %h2.text-xl.mb-20.max-w-prose.text-slate-500
    = Setting.first.experiences_subheading
- else
  %div.mb-10 &nbsp;

%div.md:grid.md:grid-cols-4.md:gap-10
  %div.col-span-4.md:col-start-1.md:col-span-3
    = render partial: 'experiences/experience', collection: @experiences

  %aside
    - if SKILLSETS_DISPLAYED
      %section.mb-12
        %h1.font-bold.mb-2.text-xl.mb-4.pb-3 Skills
        = render 'home/skillsets'

