article.experience {
  margin-bottom: 2em;
  border-top: 1px solid darken(#ffffff, 50%);
  &:first-of-type {
    padding-top: 0;
    border: none;
  }
  padding-top: 1em;
  .title, .name, .dates {
    display: inline-block;
  }
  .title {
    font-weight: 900;
    margin-right: 1.5em;
  }
  .name {
    margin-right: 1.5em;
  }

}

.skill {
  display: inline-block;
  background-color: lighten(#191970, 10%);
  border-radius: 3px;
  padding: 0.03em 0.5em;
  line-height: 1.5;
  font-size: 0.8em;
  margin: 0.2em 0.2em;
  vertical-align: middle;
}

.skillsets {
  .skill {
    font-size: 1em;
    font-weight: 900;
  }
}

table.experiences {
  th, td {
    &.actions {
      text-align: right;
    }
  }
}
