table.projects {
  th, td {
    &.actions {
      text-align: right;
    }
  }
}


.project-panel {
   display: inline-block;
  width: 500px;
  height: 400px;
  word-wrap: break-word;
  background-color: lighten(#191970, 0%);
  border-radius: 4px;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 0;
  white-space: normal;
  overflow-x: scroll;
  &:first-of-type {
    margin-left: 1.5em;
  }
}

.project {
  padding: 1.25em;
  .project-image {
    margin-bottom: 2em;
  }
  .name {
    font-weight: 900;
    font-size: 1.1em;

  }
  .description, .source-url {
    margin-bottom: 1.5em;
  }
}

section.projects {

  .carousel {
    white-space: nowrap;
    overflow-y: scroll;
    overflow-x: scroll;
  }
}
