!!!
%html
  %head
    = render 'shared/head'

  %body.m-7.font-serif.dark:text-slate-100.dark:bg-slate-950
    %div.flex.justify-center
      %div(class='lg:w-2/3')
        = yield

        = render 'shared/footer'
